<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="ReolmarkedetDB"
			 connectionString="server=localhost;Database=ReolmarkedetDB;Integrated Security=True;TrustServerCertificate=True;Connect Timeout=5"
			 providerName="Microsoft.Data.SqlClient"/>
	</connectionStrings>
</configuration>